openapi: 3.0.1
info:
  contact:
    email: brett.smith@isbscience.org
    x-role: responsible developer
  description: imProving Agent - An NIH NCATS Translator Autonomous Reasoning Agent
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://spoke.rbvi.ucsf.edu/license.html
  title: imProving Agent for TRAPI 1.5
  version: 1.5.0
  x-translator:
    component: ARA
    team:
    - imProving Agent
    biolink-version: 4.1.5
    infores: infores:improving-agent
    externalDocs:
      description: Code repository and example notebook
      url: https://github.com/suihuanglab/improving-agent
  x-trapi:
    version: 1.5.0
    asyncquery: false
    operations:
    - lookup_and_score
    batch_size_limit: 20
    rate_limit: 20
    test_data_location: https://github.com/suihuanglab/improving-agent/tree/main/test-data
externalDocs:
  description: Documentation for the NCATS Biomedical Translator Reasoners web services
  url: https://github.com/NCATSTranslator/ReasonerAPI
servers:
- description: ITRB CI server
  url: https://ia.ci.transltr.io/api/v1.5/
  x-maturity: staging
- description: dev
  url: https://ia.healthdatascience.cloud/api/v1.5/
  x-maturity: development
tags:
- description: "Retrieve the meta knowledge graph representation of this TRAPI web\
    \ service. KPs MUST provide all subject category - predicate - object category\
    \ triplets that are supported by the service, NOT including all implied ancestor\
    \ relationships. ARAs SHOULD provide the union of all meta knowledge graphs of\
    \ all the KPs that they can consult."
  name: meta_knowledge_graph
- description: Initiate a query and wait to receive the response
  name: query
- description: Initiate a query with a callback to receive the response
  name: asyncquery
- description: Retrieve the current status of a previously submitted asyncquery given
    its job_id
  name: asyncquery_status
- description: Required for SmartAPI validation of x-translator
  name: translator
- description: Required for SmartAPI validation of x-trapi
  name: trapi
paths:
  /asyncquery:
    post:
      description: ""
      operationId: asyncquery_post
      requestBody:
        content:
          application/json:
            example: |-
              {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n00": {
                        "ids": ["DOID:1681"],
                        "categories": ["biolink:Disease"]
                      },
                      "n01": {
                        "categories": ["biolink:Gene"]
                      }
                    },
                    "edges": {
                      "e00": {
                        "subject": "n00",
                        "object": "n01"
                      }
                    }
                  }
                }
              }
            schema:
              $ref: '#/components/schemas/AsyncQuery'
        description: Query information to be submitted
        required: true
      responses:
        "501":
          content:
            application/json:
              schema:
                type: string
          description: Not implemented.
      summary: Initiate a query with a callback to receive the response
      tags:
      - asyncquery
      x-openapi-router-controller: improving_agent.controllers.asyncquery_controller
  /asyncquery_status/{job_id}:
    get:
      operationId: asyncquery_status
      parameters:
      - description: Identifier of the job for status request
        example: rXEOAosN3L
        explode: false
        in: path
        name: job_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "501":
          content:
            application/json:
              schema:
                type: string
          description: "Return code 501 indicates that this endpoint has not been\
            \ implemented at this site. Sites that implement /asyncquery MUST implement\
            \ /asyncquery_status/{job_id}, but those that do not implement /asyncquery\
            \ SHOULD NOT implement /asyncquery_status."
      summary: Retrieve the current status of a previously submitted asyncquery given
        its job_id
      tags:
      - asyncquery_status
      x-openapi-router-controller: improving_agent.controllers.asyncquery_status_controller
  /meta_knowledge_graph:
    get:
      operationId: meta_knowledge_graph_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaKnowledgeGraph'
          description: Returns meta knowledge graph representation of this TRAPI web
            service.
      summary: Meta knowledge graph representation of this TRAPI web service.
      tags:
      - meta_knowledge_graph
      x-openapi-router-controller: improving_agent.controllers.meta_knowledge_graph_controller
  /query:
    post:
      description: ""
      operationId: query_post
      requestBody:
        content:
          application/json:
            example: |-
              {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n00": {
                        "ids": ["DOID:1681"],
                        "categories": ["biolink:Disease"]
                      },
                      "n01": {
                        "categories": ["biolink:Gene"]
                      }
                    },
                    "edges": {
                      "e00": {
                        "subject": "n00",
                        "object": "n01"
                      }
                    }
                  }
                }
              }
            schema:
              $ref: '#/components/schemas/Query'
        description: Query information to be submitted
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK. There may or may not be results. Note that some of the
            provided identifiers may not have been recognized.
        "400":
          content:
            application/json:
              schema:
                type: string
          description: Bad request. The request is invalid according to this OpenAPI
            schema OR a specific identifier is believed to be invalid somehow (not
            just unrecognized).
        "413":
          content:
            application/json:
              schema:
                type: string
          description: Payload too large. Indicates that batch size was over the limit
            specified in x-trapi.
        "429":
          content:
            application/json:
              schema:
                type: string
          description: Too many requests. Indicates that the client issued requests
            that exceed the rate limit specified in x-trapi.
        "500":
          content:
            application/json:
              schema:
                type: string
          description: Internal server error.
        "501":
          content:
            application/json:
              schema:
                type: string
          description: Not implemented.
      summary: Initiate a query and wait to receive a Response
      tags:
      - query
      x-openapi-router-controller: improving_agent.controllers.query_controller
components:
  schemas:
    Query:
      additionalProperties: true
      description: "The Query class is used to package a user request for information.\
        \ A Query object consists of a required Message object with optional additional\
        \ properties. Additional properties are intended to convey implementation-specific\
        \ or query-independent parameters. For example, an additional property specifying\
        \ a log level could allow a user to override the default log level in order\
        \ to receive more fine-grained log information when debugging an issue."
      example:
        submitter: submitter
        bypass_cache: false
        workflow: null
        log_level: null
        message:
          knowledge_graph:
            nodes:
              key:
                is_set: true
                name: Haptoglobin
                attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                categories:
                - biolink:PhenotypicFeature
                - biolink:PhenotypicFeature
            edges:
              key:
                predicate: biolink:gene_associated_with_condition
                sources:
                - upstream_resource_ids:
                  - infores:automat-mychem-info
                  - infores:molepro
                  resource_role: null
                  source_record_urls: "[https://db.idrblab.net/ttd/data/drug/details/d0az3c,\
                    \  https://db.idrblab.net/ttd/data/target/details/t57700]"
                  resource_id: resource_id
                - upstream_resource_ids:
                  - infores:automat-mychem-info
                  - infores:molepro
                  resource_role: null
                  source_record_urls: "[https://db.idrblab.net/ttd/data/drug/details/d0az3c,\
                    \  https://db.idrblab.net/ttd/data/target/details/t57700]"
                  resource_id: resource_id
                subject: MONDO:0011382
                qualifiers:
                - qualifier_value: expression
                  qualifier_type_id: qualifier_type_id
                - qualifier_value: expression
                  qualifier_type_id: qualifier_type_id
                attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                object: UniProtKB:P00738
          auxiliary_graphs:
            key:
              edges:
              - edges
              - edges
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
          results:
          - analyses:
            - scoring_method: scoring_method
              score: 163.233
              edge_bindings:
                key:
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
              resource_id: resource_id
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              support_graphs:
              - support_graphs
              - support_graphs
            - scoring_method: scoring_method
              score: 163.233
              edge_bindings:
                key:
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
              resource_id: resource_id
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              support_graphs:
              - support_graphs
              - support_graphs
            node_bindings:
              key:
              - query_id: null
                attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: null
              - query_id: null
                attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: null
          - analyses:
            - scoring_method: scoring_method
              score: 163.233
              edge_bindings:
                key:
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
              resource_id: resource_id
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              support_graphs:
              - support_graphs
              - support_graphs
            - scoring_method: scoring_method
              score: 163.233
              edge_bindings:
                key:
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
              resource_id: resource_id
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              support_graphs:
              - support_graphs
              - support_graphs
            node_bindings:
              key:
              - query_id: null
                attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: null
              - query_id: null
                attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: null
          query_graph:
            nodes:
              key:
                ids:
                - OMIM:603903
                set_interpretation: BATCH
                categories:
                - biolink:PhenotypicFeature
                - biolink:PhenotypicFeature
                constraints:
                - unit_name: kilodalton
                  not: false
                  name: molecular mass
                  id: EDAM:data_0844
                  value: 57.0
                  unit_id: UO:0000222
                  operator: ==
                - unit_name: kilodalton
                  not: false
                  name: molecular mass
                  id: EDAM:data_0844
                  value: 57.0
                  unit_id: UO:0000222
                  operator: ==
            edges:
              key:
                qualifier_constraints:
                - qualifier_set:
                  - qualifier_value: expression
                    qualifier_type_id: qualifier_type_id
                  - qualifier_value: expression
                    qualifier_type_id: qualifier_type_id
                - qualifier_set:
                  - qualifier_value: expression
                    qualifier_type_id: qualifier_type_id
                  - qualifier_value: expression
                    qualifier_type_id: qualifier_type_id
                predicates:
                - biolink:interacts_with
                - biolink:interacts_with
                subject: https://omim.org/entry/603903
                knowledge_type: lookup
                attribute_constraints:
                - unit_name: kilodalton
                  not: false
                  name: molecular mass
                  id: EDAM:data_0844
                  value: 57.0
                  unit_id: UO:0000222
                  operator: ==
                - unit_name: kilodalton
                  not: false
                  name: molecular mass
                  id: EDAM:data_0844
                  value: 57.0
                  unit_id: UO:0000222
                  operator: ==
                object: https://www.uniprot.org/uniprot/P00738
      properties:
        message:
          $ref: '#/components/schemas/Query_message'
        log_level:
          $ref: '#/components/schemas/Query_log_level'
        workflow:
          $ref: '#/components/schemas/Query_workflow'
        submitter:
          description: Any string for self-identifying the submitter of a query. The
            purpose of this optional field is to aid in the tracking of the source
            of queries for development and issue resolution.
          nullable: true
          type: string
        bypass_cache:
          default: false
          description: Set to true in order to request that the agent obtain fresh
            information from its sources in all cases where it has a viable choice
            between requesting fresh information in real time and using cached information.
          type: boolean
      required:
      - message
      title: Query
      type: object
      x-body-name: request_body
    AsyncQuery:
      additionalProperties: true
      description: The AsyncQuery class is effectively the same as the Query class
        but it requires a callback property.
      example:
        submitter: submitter
        bypass_cache: false
        workflow: null
        log_level: null
        callback: https://openapi-generator.tech
        message:
          knowledge_graph:
            nodes:
              key:
                is_set: true
                name: Haptoglobin
                attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                categories:
                - biolink:PhenotypicFeature
                - biolink:PhenotypicFeature
            edges:
              key:
                predicate: biolink:gene_associated_with_condition
                sources:
                - upstream_resource_ids:
                  - infores:automat-mychem-info
                  - infores:molepro
                  resource_role: null
                  source_record_urls: "[https://db.idrblab.net/ttd/data/drug/details/d0az3c,\
                    \  https://db.idrblab.net/ttd/data/target/details/t57700]"
                  resource_id: resource_id
                - upstream_resource_ids:
                  - infores:automat-mychem-info
                  - infores:molepro
                  resource_role: null
                  source_record_urls: "[https://db.idrblab.net/ttd/data/drug/details/d0az3c,\
                    \  https://db.idrblab.net/ttd/data/target/details/t57700]"
                  resource_id: resource_id
                subject: MONDO:0011382
                qualifiers:
                - qualifier_value: expression
                  qualifier_type_id: qualifier_type_id
                - qualifier_value: expression
                  qualifier_type_id: qualifier_type_id
                attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                object: UniProtKB:P00738
          auxiliary_graphs:
            key:
              edges:
              - edges
              - edges
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
          results:
          - analyses:
            - scoring_method: scoring_method
              score: 163.233
              edge_bindings:
                key:
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
              resource_id: resource_id
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              support_graphs:
              - support_graphs
              - support_graphs
            - scoring_method: scoring_method
              score: 163.233
              edge_bindings:
                key:
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
              resource_id: resource_id
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              support_graphs:
              - support_graphs
              - support_graphs
            node_bindings:
              key:
              - query_id: null
                attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: null
              - query_id: null
                attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: null
          - analyses:
            - scoring_method: scoring_method
              score: 163.233
              edge_bindings:
                key:
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
              resource_id: resource_id
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              support_graphs:
              - support_graphs
              - support_graphs
            - scoring_method: scoring_method
              score: 163.233
              edge_bindings:
                key:
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
              resource_id: resource_id
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              support_graphs:
              - support_graphs
              - support_graphs
            node_bindings:
              key:
              - query_id: null
                attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: null
              - query_id: null
                attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: null
          query_graph:
            nodes:
              key:
                ids:
                - OMIM:603903
                set_interpretation: BATCH
                categories:
                - biolink:PhenotypicFeature
                - biolink:PhenotypicFeature
                constraints:
                - unit_name: kilodalton
                  not: false
                  name: molecular mass
                  id: EDAM:data_0844
                  value: 57.0
                  unit_id: UO:0000222
                  operator: ==
                - unit_name: kilodalton
                  not: false
                  name: molecular mass
                  id: EDAM:data_0844
                  value: 57.0
                  unit_id: UO:0000222
                  operator: ==
            edges:
              key:
                qualifier_constraints:
                - qualifier_set:
                  - qualifier_value: expression
                    qualifier_type_id: qualifier_type_id
                  - qualifier_value: expression
                    qualifier_type_id: qualifier_type_id
                - qualifier_set:
                  - qualifier_value: expression
                    qualifier_type_id: qualifier_type_id
                  - qualifier_value: expression
                    qualifier_type_id: qualifier_type_id
                predicates:
                - biolink:interacts_with
                - biolink:interacts_with
                subject: https://omim.org/entry/603903
                knowledge_type: lookup
                attribute_constraints:
                - unit_name: kilodalton
                  not: false
                  name: molecular mass
                  id: EDAM:data_0844
                  value: 57.0
                  unit_id: UO:0000222
                  operator: ==
                - unit_name: kilodalton
                  not: false
                  name: molecular mass
                  id: EDAM:data_0844
                  value: 57.0
                  unit_id: UO:0000222
                  operator: ==
                object: https://www.uniprot.org/uniprot/P00738
      properties:
        callback:
          description: "Upon completion, this server will send a POST request to the\
            \ callback URL with `Content-Type: application/json` header and request\
            \ body containing a JSON-encoded `Response` object. The server MAY POST\
            \ `Response` objects before work is fully complete to provide interim\
            \ results with a Response.status value of 'Running'. If a POST operation\
            \ to the callback URL does not succeed, the server SHOULD retry the POST\
            \ at least once."
          format: uri
          nullable: false
          pattern: ^https?://
          type: string
        message:
          $ref: '#/components/schemas/Query_message'
        log_level:
          $ref: '#/components/schemas/Query_log_level'
        workflow:
          $ref: '#/components/schemas/Query_workflow'
        submitter:
          description: Any string for self-identifying the submitter of a query. The
            purpose of this optional field is to aid in the tracking of the source
            of queries for development and issue resolution.
          nullable: true
          type: string
        bypass_cache:
          default: false
          description: Set to true in order to request that the agent obtain fresh
            information from its sources in all cases where it has a viable choice
            between requesting fresh information in real time and using cached information.
          type: boolean
      required:
      - callback
      - message
      title: AsyncQuery
      type: object
      x-body-name: request_body
    AsyncQueryResponse:
      additionalProperties: true
      description: The AsyncQueryResponse object contains a payload that must be returned
        from a submitted async_query.
      properties:
        status:
          description: "One of a standardized set of short codes: e.g. Accepted, QueryNotTraversable,\
            \ KPsNotAvailable"
          example: Accepted
          nullable: true
          type: string
        description:
          description: A brief human-readable description of the result of the async_query
            submission.
          example: Async_query has been queued
          nullable: true
          type: string
        job_id:
          description: An identifier for the submitted job that can be used with /async_query_status
            to receive an update on the status of the job.
          example: rXEOAosN3L
          nullable: false
          type: string
      required:
      - job_id
      type: object
    AsyncQueryStatusResponse:
      additionalProperties: true
      description: The AsyncQueryStatusResponse object contains a payload that describes
        the current status of a previously submitted async_query.
      properties:
        status:
          description: "One of a standardized set of short codes: Queued, Running,\
            \ Completed, Failed"
          example: Running
          nullable: false
          type: string
        description:
          description: A brief human-readable description of the current state or
            summary of the problem if the status is Failed.
          example: Callback URL returned 500
          nullable: false
          type: string
        logs:
          description: "A list of LogEntry items, containing errors, warnings, debugging\
            \ information, etc. List items MUST be in chronological order with earliest\
            \ first. The most recent entry should be last. Its timestamp will be compared\
            \ against the current time to see if there is still activity."
          items:
            $ref: '#/components/schemas/LogEntry'
          minItems: 1
          nullable: false
          type: array
        response_url:
          description: Optional URL that can be queried to restrieve the full TRAPI
            Response.
          example: https://arax.ncats.io/api/arax/v1.3/response/116481
          nullable: true
          type: string
      required:
      - description
      - logs
      - status
      type: object
    Response:
      additionalProperties: true
      description: "The Response object contains the main payload when a TRAPI query\
        \ endpoint interprets and responds to the submitted query successfully (i.e.,\
        \ HTTP Status Code 200). The message property contains the knowledge of the\
        \ response (query graph, knowledge graph, and results). The status, description,\
        \ and logs properties provide additional details about the response."
      example:
        schema_version: 1.4.0
        workflow: null
        biolink_version: 3.1.2
        description: Success. 42 results found.
        message:
          knowledge_graph:
            nodes:
              key:
                is_set: true
                name: Haptoglobin
                attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                categories:
                - biolink:PhenotypicFeature
                - biolink:PhenotypicFeature
            edges:
              key:
                predicate: biolink:gene_associated_with_condition
                sources:
                - upstream_resource_ids:
                  - infores:automat-mychem-info
                  - infores:molepro
                  resource_role: null
                  source_record_urls: "[https://db.idrblab.net/ttd/data/drug/details/d0az3c,\
                    \  https://db.idrblab.net/ttd/data/target/details/t57700]"
                  resource_id: resource_id
                - upstream_resource_ids:
                  - infores:automat-mychem-info
                  - infores:molepro
                  resource_role: null
                  source_record_urls: "[https://db.idrblab.net/ttd/data/drug/details/d0az3c,\
                    \  https://db.idrblab.net/ttd/data/target/details/t57700]"
                  resource_id: resource_id
                subject: MONDO:0011382
                qualifiers:
                - qualifier_value: expression
                  qualifier_type_id: qualifier_type_id
                - qualifier_value: expression
                  qualifier_type_id: qualifier_type_id
                attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                object: UniProtKB:P00738
          auxiliary_graphs:
            key:
              edges:
              - edges
              - edges
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
          results:
          - analyses:
            - scoring_method: scoring_method
              score: 163.233
              edge_bindings:
                key:
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
              resource_id: resource_id
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              support_graphs:
              - support_graphs
              - support_graphs
            - scoring_method: scoring_method
              score: 163.233
              edge_bindings:
                key:
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
              resource_id: resource_id
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              support_graphs:
              - support_graphs
              - support_graphs
            node_bindings:
              key:
              - query_id: null
                attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: null
              - query_id: null
                attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: null
          - analyses:
            - scoring_method: scoring_method
              score: 163.233
              edge_bindings:
                key:
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
              resource_id: resource_id
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              support_graphs:
              - support_graphs
              - support_graphs
            - scoring_method: scoring_method
              score: 163.233
              edge_bindings:
                key:
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
                - attributes:
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                    attribute_source: UniProtKB
                    value_type_id: EDAM:data_1187
                    description: Assertion Authored By Dr. Trans L. Ator
                    attribute_type_id: attribute_type_id
                    attributes:
                    - null
                    - null
                    original_attribute_name: p-value
                    value: 0.000153
                  id: id
              resource_id: resource_id
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              support_graphs:
              - support_graphs
              - support_graphs
            node_bindings:
              key:
              - query_id: null
                attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: null
              - query_id: null
                attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: null
          query_graph:
            nodes:
              key:
                ids:
                - OMIM:603903
                set_interpretation: BATCH
                categories:
                - biolink:PhenotypicFeature
                - biolink:PhenotypicFeature
                constraints:
                - unit_name: kilodalton
                  not: false
                  name: molecular mass
                  id: EDAM:data_0844
                  value: 57.0
                  unit_id: UO:0000222
                  operator: ==
                - unit_name: kilodalton
                  not: false
                  name: molecular mass
                  id: EDAM:data_0844
                  value: 57.0
                  unit_id: UO:0000222
                  operator: ==
            edges:
              key:
                qualifier_constraints:
                - qualifier_set:
                  - qualifier_value: expression
                    qualifier_type_id: qualifier_type_id
                  - qualifier_value: expression
                    qualifier_type_id: qualifier_type_id
                - qualifier_set:
                  - qualifier_value: expression
                    qualifier_type_id: qualifier_type_id
                  - qualifier_value: expression
                    qualifier_type_id: qualifier_type_id
                predicates:
                - biolink:interacts_with
                - biolink:interacts_with
                subject: https://omim.org/entry/603903
                knowledge_type: lookup
                attribute_constraints:
                - unit_name: kilodalton
                  not: false
                  name: molecular mass
                  id: EDAM:data_0844
                  value: 57.0
                  unit_id: UO:0000222
                  operator: ==
                - unit_name: kilodalton
                  not: false
                  name: molecular mass
                  id: EDAM:data_0844
                  value: 57.0
                  unit_id: UO:0000222
                  operator: ==
                object: https://www.uniprot.org/uniprot/P00738
        logs:
        - code: code
          level: null
          message: message
          timestamp: 2020-09-03T18:13:49Z
        - code: code
          level: null
          message: message
          timestamp: 2020-09-03T18:13:49Z
        status: Success
      properties:
        message:
          $ref: '#/components/schemas/Response_message'
        status:
          description: "One of a standardized set of short codes, e.g. Success, QueryNotTraversable,\
            \ KPsNotAvailable"
          example: Success
          nullable: true
          type: string
        description:
          description: A brief human-readable description of the outcome
          example: Success. 42 results found.
          nullable: true
          type: string
        logs:
          description: "A list of LogEntry items, containing errors, warnings, debugging\
            \ information, etc. List items MUST be in chronological order with earliest\
            \ first."
          items:
            $ref: '#/components/schemas/LogEntry'
          minItems: 0
          nullable: false
          type: array
        workflow:
          $ref: '#/components/schemas/Response_workflow'
        schema_version:
          description: Version label of the TRAPI schema used in this document
          example: 1.4.0
          nullable: true
          type: string
        biolink_version:
          description: Version label of the Biolink model used in this document
          example: 3.1.2
          nullable: true
          type: string
      required:
      - message
      title: Response
      type: object
    Message:
      additionalProperties: false
      description: "The message object holds the main content of a Query or a Response\
        \ in three properties: query_graph, results, and knowledge_graph. The query_graph\
        \ property contains the query configuration, the results property contains\
        \ any answers that are returned by the service, and knowledge_graph property\
        \ contains lists of edges and nodes in the thought graph corresponding to\
        \ this message. The content of these properties is context-dependent to the\
        \ encompassing object and the TRAPI operation requested."
      example:
        knowledge_graph:
          nodes:
            key:
              is_set: true
              name: Haptoglobin
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              categories:
              - biolink:PhenotypicFeature
              - biolink:PhenotypicFeature
          edges:
            key:
              predicate: biolink:gene_associated_with_condition
              sources:
              - upstream_resource_ids:
                - infores:automat-mychem-info
                - infores:molepro
                resource_role: null
                source_record_urls: "[https://db.idrblab.net/ttd/data/drug/details/d0az3c,\
                  \  https://db.idrblab.net/ttd/data/target/details/t57700]"
                resource_id: resource_id
              - upstream_resource_ids:
                - infores:automat-mychem-info
                - infores:molepro
                resource_role: null
                source_record_urls: "[https://db.idrblab.net/ttd/data/drug/details/d0az3c,\
                  \  https://db.idrblab.net/ttd/data/target/details/t57700]"
                resource_id: resource_id
              subject: MONDO:0011382
              qualifiers:
              - qualifier_value: expression
                qualifier_type_id: qualifier_type_id
              - qualifier_value: expression
                qualifier_type_id: qualifier_type_id
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              object: UniProtKB:P00738
        auxiliary_graphs:
          key:
            edges:
            - edges
            - edges
            attributes:
            - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
              attribute_source: UniProtKB
              value_type_id: EDAM:data_1187
              description: Assertion Authored By Dr. Trans L. Ator
              attribute_type_id: attribute_type_id
              attributes:
              - null
              - null
              original_attribute_name: p-value
              value: 0.000153
            - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
              attribute_source: UniProtKB
              value_type_id: EDAM:data_1187
              description: Assertion Authored By Dr. Trans L. Ator
              attribute_type_id: attribute_type_id
              attributes:
              - null
              - null
              original_attribute_name: p-value
              value: 0.000153
        results:
        - analyses:
          - scoring_method: scoring_method
            score: 163.233
            edge_bindings:
              key:
              - attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: id
              - attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: id
            resource_id: resource_id
            attributes:
            - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
              attribute_source: UniProtKB
              value_type_id: EDAM:data_1187
              description: Assertion Authored By Dr. Trans L. Ator
              attribute_type_id: attribute_type_id
              attributes:
              - null
              - null
              original_attribute_name: p-value
              value: 0.000153
            - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
              attribute_source: UniProtKB
              value_type_id: EDAM:data_1187
              description: Assertion Authored By Dr. Trans L. Ator
              attribute_type_id: attribute_type_id
              attributes:
              - null
              - null
              original_attribute_name: p-value
              value: 0.000153
            support_graphs:
            - support_graphs
            - support_graphs
          - scoring_method: scoring_method
            score: 163.233
            edge_bindings:
              key:
              - attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: id
              - attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: id
            resource_id: resource_id
            attributes:
            - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
              attribute_source: UniProtKB
              value_type_id: EDAM:data_1187
              description: Assertion Authored By Dr. Trans L. Ator
              attribute_type_id: attribute_type_id
              attributes:
              - null
              - null
              original_attribute_name: p-value
              value: 0.000153
            - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
              attribute_source: UniProtKB
              value_type_id: EDAM:data_1187
              description: Assertion Authored By Dr. Trans L. Ator
              attribute_type_id: attribute_type_id
              attributes:
              - null
              - null
              original_attribute_name: p-value
              value: 0.000153
            support_graphs:
            - support_graphs
            - support_graphs
          node_bindings:
            key:
            - query_id: null
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              id: null
            - query_id: null
              attributes:
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                attribute_source: UniProtKB
                value_type_id: EDAM:data_1187
                description: Assertion Authored By Dr. Trans L. Ator
                attribute_type_id: attribute_type_id
                attributes:
                - null
                - null
                original_attribute_name: p-value
                value: 0.000153
              id: null
        - analyses:
          - scoring_method: scoring_method
            score: 163.233
            edge_bindings:
              key:
              - attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
                  - null
                  original_attribute_name: p-value
                  value: 0.000153
                id: id
              - attributes:
                - value_url: https://pubmed.ncbi.nlm.nih.gov/32529952
                  attribute_source: UniProtKB
                  value_type_id: EDAM:data_1187
                  description: Assertion Authored By Dr. Trans L. Ator
                  attribute_type_id: attribute_type_id
                  attributes:
                  - null
[...]
