.red-emphasis {
  color: red;
  font-style: italic;
}

.add-card {
  display: flex;
  align-items: center;
  text-align: center;
}

.add-card-button {
  min-width: 100%;
  display: block;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}

.query-parameter-card {
  padding-top: 1em;
  padding-bottom: 2em;
}
.node-type-selector {
  margin-top: 1em;
}

#evidara-intro {
  display: flex;
  align-items: center;
  text-align: center;
}

.long-label {
  text-indent: -17px;
  padding-left: 17px;
}

.improving-parameters {
  align-items: center;
}

.destroy-button {
  margin-top: -2.5em;
  margin-left: 0.5em;
}

/* d3 graph */
.links line {
  stroke: #999;
  stroke-opacity: 0.4;
}
.nodes circle {
  stroke-width: 1.5px;
  stroke: #fff;
}

.labelText {
  font-family: sans-serif;
  font-size: 8px;
  color: #000;
  fill: #000;
  text-shadow: 0px 0px 2px white; 
}

.edgelabel {
  font-size: 6;
  fill: #000;
  text-shadow: 0px 0px 2px white;
}

/* table */
.evidara-table td {
  font-size: 80%;
}
.row-even {
  background-color: #f6f6f6;
}

.row-odd {
  background-color: white;
}

.cell-sub-head {
    font-weight: bold;
}

.row-even-edge {
    background-color: #efefef;
}

.row-odd-edge {
    background-color: #fcfcfc;

}
.search-params-div {
  padding-top: 5px;
}

label.search-param {
  display: block;
  font-family: Arial, sans-serif;
}

.searchResultTable {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.searchResultTable td, .searchResultTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.searchResultTable tr:nth-child(even){background-color: #f2f2f2;}

.searchResultTable tr:hover {background-color: #ddd;}

.searchResultTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #98AFC7;
  color: white;
}