connexion[swagger-ui] >= 2.6.0; python_version>="3.6"
fuzzywuzzy ~= 0.18
neo4j ~= 1.7.0
numpy ~= 1.18.1
python_dateutil >= 2.6.0
python-Levenshtein ~= 0.12
requests ~= 2.23
setuptools >= 21.0.0
swagger-ui-bundle >= 0.0.2
uwsgi ~= 2.0.19.1